<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="p:domain_verify" content="192ef9886c5291af272f863c60dc179e"/>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../stylesheets/materialize.css" media="screen,projection" />
  <!--Import mdi.css - third party icon set-->
  <link href="../stylesheets/materialdesignicons.css" media="all" rel="stylesheet" type="text/css" />
  <!--Import NProgress stylesheet-->
  <link href="../stylesheets/nprogress.css" media="all" rel="stylesheet" type="text/css" />
  <!--Import custom stylesheet-->
  <link type="text/css" rel="stylesheet" href="../stylesheets/style.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Set Android theme color-->
  <meta name="theme-color" content="#c0ca33">
</head>

<body class="grey lighten-3">
  <div class="overlay">
    <div><img class="circle responsive-img z-depth-4" width="80" src="../images/logo.png"></div>
  </div>

  <nav class="lime">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">&nbsp;<%= logo %></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://github.com/SandeepVattapparambil/"><i class="mdi mdi-github-circle"></i></a></li>
        <li><a href="https://twitter.com/SandeepVTPRL"><i class="mdi mdi-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/sandeep-vattapparambil-4129496b/"><i class="mdi mdi-linkedin-box"></i></a></li>
        <li><a href="https://plus.google.com/u/0/+SandeepVattapparambilNilambur"><i class="mdi mdi-google-plus-box"></i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="https://github.com/SandeepVattapparambil/"><i class="mdi mdi-github-circle"></i> Github</a></li>
        <li><a href="https://twitter.com/SandeepVTPRL"><i class="mdi mdi-twitter"></i> Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/sandeep-vattapparambil-4129496b/"><i class="mdi mdi-linkedin-box"></i> Linkedin</a></li>
        <li><a href="https://plus.google.com/u/0/+SandeepVattapparambilNilambur"><i class="mdi mdi-google-plus-box"></i> Google+</a></li>
      </ul>
    </div>
  </nav>

  <p class="center"><img class="circle responsive-img z-depth-4" width="180" src="../images/logo.png">  </p>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../javascripts/materialize.js"></script>
  <script type="text/javascript" src="../javascripts/nprogress.js"></script>

  <script type="text/javascript" src="../javascripts/script.js"></script>
</body>

</html>
